* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: pointer;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none; 
}

/*fonts*/
@font-face {
	font-family: "smooch-regular";
	src:url("fonts/SmoochSans-Regular.ttf");
}

@font-face {
	font-family: "raleway-regular";
	src:url("fonts/Raleway-Regular.ttf");
}

@font-face {
	font-family: "saira";
	src:url("fonts/SairaStencilOne-Regular.ttf");
}

/*header*/
header {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 0 0 0 10px;
	min-width: 1100px;
}

header img {
	width: 90px;
	height: 90px;
}

header ul {
	margin: 0;
}

header ul li {
	list-style-type: none; 
	display: inline;
	font-size: 28px; 
	padding: 10px 30px;
}

header ul li a {
	color: white; 
}

header ul li:hover a {
	color: orange; 
	text-decoration: none; 
}

header .menu-wrapper {
	position: relative; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;

	width: 100%; 
	height: 60px;
	background-color: #37003C;
	border-radius: 10px;
	font-family: smooch-regular;
}

header .menu-wrapper .header-left {
	padding-left: 20px;
}

header .menu-wrapper .header-right {
	border-left: 3px solid #f5f6fa;
	padding-left: 20px; 
	padding-right: 30px;
}

header .menu-wrapper .header-right:hover {
	border-color: orange;
}

header .menu-wrapper .sub-menu-team {
	position: absolute;
	left: 235px;
	top: 60px;
	z-index: 1; 
}

header .menu-wrapper .sub-menu-team ul li {
	display: none;
	padding: 20px 5px;
	background-color: black;
	opacity: 0.7; 
}

header .menu-wrapper .sub-menu-team ul li:first-child {
	border-bottom: 1px solid white;
}

header .menu-wrapper .sub-menu-team ul li a {
	color: white;
}

header .menu-wrapper .sub-menu-team ul li:first-child a {
	padding-left: 15px;
}

header .menu-wrapper .sub-menu-team ul li:hover {
	opacity: 1; 
}

header .menu-wrapper .header-left ul li:nth-child(3):hover .sub-menu-team ul li {
	display: block;
}

 
/*Signin*/
main .form-heading {
	width: 100%;
	height: 182px;
	background-image: url("../imgs/signin-banner.png");
	background-size: cover; 
}

main .form-heading h2 {
	color: white;
	position: relative;
	top: 35%;
	left: 200px;
	font-weight: 700;
	font-size: 50px;   
}

main #signin-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
} 

main #signin-form .login {
	width: 572px;
	height: 425px;
	margin-left: 5px; 
}

main #signin-form .login h3 {
	color: white;
	background-color: #E90052;
	padding: 10px;
}

main #signin-form .form-left form {
	padding: 10px 20px;
}

main #signin-form .form-left form h5 {
	font-weight: bold;
}

main #signin-form .form-left form input {
	padding: 10px;
	border: none;
	border-bottom: 1px solid black;
	background-color: #E8E8E8;
	width: 100%; 
	margin-bottom: 20px;
}

main #signin-form .form-left form #eye-toggle {
	position: relative; 
}

main #signin-form .form-left form #eye-toggle button {
	position: absolute;
	top: 10%;
	right: 7px;
	border: none;
	background-color: white;
	padding: 5px 20px;
	font-size: 13px;
}

main #signin-form .form-left form #eye-toggle button:hover {
	color: white;
	background-color: black;
}

main #signin-form .form-left form #submit-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main #signin-form .form-left form #submit-area span:hover {
	color: red;
	text-decoration: underline;  
}

main #signin-form .form-left form #submit-area button {
	width: 250px;
	padding: 10px;
	color: white;
	background-color: #37003C;
	border: 1px solid black;
}

main #signin-form .form-left form #submit-area button:hover {
	background-color: #3498db;
	border: 1px solid #3498db;
}

main #signin-form .form-left form .login-with {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px; 
	margin-bottom: 10px;   
}

main #signin-form .form-left form .login-with hr {
	width: 70px;
	margin: 10px;
	border-top: 2px solid #bdc3c7;
}

main #signin-form .form-left form .other-logins {
	display: grid;
	grid-template-columns: repeat(2, 1fr); 
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 10px;
}

main #signin-form .form-left form .other-logins .grid-item {
	width: 250px;
	padding: 10px;
	color: white;
	border: 1px solid black;
	display: flex;
	justify-content: center; 
	border: none;
	opacity: 0.9; 
}

main #signin-form .form-left form .other-logins .grid-item:hover {
	opacity: 1; 
}

main #signin-form .form-left form .other-logins .grid-item i {
	font-size: 20px;
	margin-right: 10px; 
}

main #signin-form .form-right {
	position: relative; 
}

main #signin-form .form-right div {
	background-color: #E8E8E8;
	width: 555px;
	height: 376px;
	padding: 10px;
}

main #signin-form .form-right div h3 {
	background-color: #E8E8E8;
	font-size: 28px;
	line-height: 32.81px;
	font-weight: 700;
	color: black;
	padding-left: 0;  
}

main #signin-form .form-right div p {
	font-size: 28px;
	line-height: 32.81px;
	font-weight: 400;
}

main #signin-form .form-right div a button {
	position: absolute;
	bottom: 53px;
	left: 28px;
	width: 498px;
	height: 46px;
	background-color: #E90052;
	border: none;
	color: white;
}

main #signin-form .form-right div a button:hover {
	background-color: red;
}

/*REGISTER*/
main #register-form form {
	position: relative; 
	top: 10px;
	left: 215px;

	display: inline-block;
	width: 1040px;
	height: 1030px;

	font-family: raleway-regular;  
}

main #register-form form .content-wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(7, 1fr); 
	grid-gap: 10px;
}

main #register-form form .content-wrapper > div {
	height: 100px;
}

main #register-form form h3 {
	font-weight: bolder;
	font-family: smooch-regular; 
	font-size: 30px;
	margin: 50px 0 50px; 
	padding: 15px 10px; 
	background-color: #E90052;
	color: white;
	border-radius: 10px;
}

main #register-form form .content-wrapper > div h4 {
	font-weight: 500;
	font-size: 20px; 
	font-weight: bold; 
	margin-bottom: 0; 
}

main #register-form form .content-wrapper > div span {
	font-family: smooch-regular;
	font-size: 20px;
	font-style: italic;
	color: #E90052; 
}

main #register-form form .content-wrapper > div input {
	width: 100%; 
	font-size: 15px;
	padding: 15px;
	margin: 10px 0 0;  
	background-color: #E8E8E8;
	border: none;
	border-bottom: 2px solid black;
}

main #register-form form .content-wrapper > div h5 {
	font-family: smooch-regular; 
	font-size: 20px;
	font-weight: bolder;
	margin: 0 0 0 5px; 
}

main #register-form form .content-wrapper > div:nth-child(8) #eye-toggle {
	position: relative; 
}

main #register-form form .content-wrapper > div:nth-child(8) #eye-toggle input {
	border-bottom: 5px solid #37003C;
}

main #register-form form .content-wrapper > div:nth-child(8) #eye-toggle button {
	position: absolute;
	top: 16px; 
	right: 6px;
	padding: 10px 25px;
	background-color: white;
	border: none;
}

main #register-form form .content-wrapper > div:nth-child(8) #eye-toggle button:hover {
	background-color: red;
	color: white;
}

main #register-form form .content-wrapper > div:nth-child(10) label {
	font-size: 20px; 
	font-weight: 500;
	margin: 30px 50px 0px 0px; 
}

main #register-form form .content-wrapper > div:nth-child(10) label input {
	width: 20px;
	height: 20px;
	margin: 0 5px 0 0; 
	position: relative;
	left: 0;
	top: 3px;
}

main #register-form form .content-wrapper > div:nth-child(12) select {
	width: 150px;
	margin: 10px 30px 0px 0px;
	border: none;
	border-bottom: 1px solid black; 
	padding: 15px;
	font-size: 20px;
}

main #register-form form .content-wrapper > div:nth-child(12) select:hover {
	background-color: #E8E8E8;
}

main #register-form form .content-wrapper > div:nth-child(14) select {
	width: 515px;
	margin: 10px 0 0 0;
	border: none;
	border-bottom: 1px solid black; 
	padding: 15px;
	font-size: 20px;
}

main #register-form form .content-wrapper > div:nth-child(14) select:hover {
	background-color: #E8E8E8;
}

main #register-form form #register-form-submit {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 20px 0 50px;
	background-color: #37003C;
	color: white;
	font-family: smooch-regular;
	font-size: 30px;
	padding: 10px 100px; 
	border: none;
}

main #register-form form #register-form-submit:hover {
	background-color: #0984e3;
}


/*Choose a role*/
main #role-content {
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

main #role-content > div {
	border: 2px solid black;
	border-radius: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;
	margin: 50px; 
	padding: 10px 30px 20px; 
	box-shadow: 3px 3px 5px black;  
}

main #role-content > div img {
	width: 275px;
	height: 285px;
	image-rendering: pixelated;
}

main #role-content > div a button {
	background-color: #76237D;
	color: white;
	border: none;
	padding: 5px 70px;
	border-radius: 20px;
	font-family: smooch-regular;
	font-size: 40px;
	line-height: 58.59px;
	opacity: 0.8; 
}

main #role-content > div:hover {
	background-color: #f1f2f6;
	box-shadow: 7px 7px 5px black;
}

main #role-content > div a button:hover {
	background-color: #4834d4;
	box-shadow: 5px 5px 5px black;
	opacity: 1; 
}

/*contact*/
main #contact-content form {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 1fr 1fr 5fr;   

	width: 800px;
	height: 440px;
	margin: 10px auto; 

	font-family: raleway-regular;
}

main #contact-content form .contact-items h3 {
	font-weight: bold; 
	margin: 5px; 
	font-style: italic;
}

main #contact-content form .contact-items input {
	width: 100%;  
	padding: 5px 10px;
	font-size: 20px;
	background-color: #F2F2F2;
	border: none;
	border-bottom: 3px solid black;
}

main #contact-content form .contact-item-8 {
	position: relative; 
}

main #contact-content form .contact-item-8 textarea {
	width: 100%;
	height: 260px;
	background-color: #F2F2F2;
	resize: none;
	border: none;
	border-bottom: 5px solid black;
	padding: 5px 10px;
	font-size: 20px;
	overflow: auto;
}

main #contact-content form .contact-item-8 button {
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);

	color: white;
	font-size: 30px;
	font-family: smooch-regular; 
	border: none;
	background-color: black;
	padding: 5px 50px;
	border-radius: 20px;
}

main #contact-content form .contact-item-8 button:hover {
	background-color: purple;
	box-shadow: 5px 5px 5px black;
}

main #contact-content form .contact-items:nth-child(even) input:hover,
main #contact-content form .contact-items:nth-child(even) textarea:hover {
	border-color: blue; 
}

/*Booking information*/
main #booking-title-wrapper {
	display: flex;
	justify-content: space-between;
	justify-items: center;
	align-items: center;
	background-color: #D81920;
	position: relative; 
	margin: 20px 0;
}

main #booking-title-wrapper .pitch-title {
	color: white;
	margin-left: 50px;
	display: flex;
	justify-content: flex-start;
	justify-items: center;
	align-items: center;
}

main #booking-title-wrapper .pitch-title img {
	width: 250px;
	height: 180px;
}

main #booking-title-wrapper .pitch-title div h3 {
	font-family: saira;
	font-size: 40px;
	margin: 5px; 
}

main #booking-title-wrapper .pitch-title div h4 {
	font-family: raleway-regular;
	font-size: 15px;
	margin: 5px 15px;
	color: white;
}

main #booking-title-wrapper .pitch-title div .share-media i {
	margin: 5px 0px 0px 15px;
	padding: 10px;
	border-radius: 50%;
	background-color: white;
}

main #booking-title-wrapper .pitch-title div .share-media i:hover {
	background-color: #f0932b;
	box-shadow: 5px 5px 5px black;
}

/*Share*/
main #booking-title-wrapper .pitch-title div .share-media .fa-share-alt {
	border: none;
	background-color: transparent;
}

/*Facebook*/
main #booking-title-wrapper .pitch-title div .share-media .fa-facebook-square {
	color: #4460A0;
}

/*Twitter*/
main #booking-title-wrapper .pitch-title div .share-media .fa-twitter {
	color: #00AAEC; 
}

/*Youtube*/
main #booking-title-wrapper .pitch-title div .share-media .fa-youtube {
	color: #CE1312;
}

/*Instagram*/
main #booking-title-wrapper .pitch-title div .share-media .fa-instagram-square {
	color: #be2edd;
}

/*Triangle shape*/
main #booking-title-wrapper .triangle-shape {
	border-top: 334px solid red;
	border-right: 67px solid green;
	border-bottom: 334px solid blue;
	border-left: 67px solid purple;

	border-color: transparent;
	border-bottom-color: #D81920; 

	display: block;
	width: 0; 
	height: 0;
	position: absolute;
	right: 653px;
	bottom: 0;
}

/*TaoDan image*/
main #booking-title-wrapper > img {
	width: 720px;
	height: 334px;
}

/*Information & Booking button*/
main #booking-title-wrapper .infor-booking-button {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 305px;
}

main #booking-title-wrapper .infor-booking-button a {
	text-decoration: none; 
}

main #booking-title-wrapper .infor-booking-button span {
	background-color: white;
	padding: 5px 20px;
	font-family: smooch-regular;
	font-size: 30px;
	margin-right: 10px; 
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

main #booking-title-wrapper .infor-booking-button span:hover {
	color: black;
	background-image: linear-gradient(to bottom, #f0932b, #ffbe76, #f6e58d, #ecf0f1, #fff);
}

/*Content - map*/
main #booking-info-content {
	display: flex;
	justify-content: flex-start;  
	margin-bottom: 50px; 
}

/*content-left*/
main #booking-info-content .content-left {
	display: flex;
	flex-direction: column;
}

main #booking-info-content .content-left a button {
	border: none;
	background-color: #ecf0f1;
	width: 240px;
	height: 42px;
	margin: 20px 0px 0px 65px;
	font-size: 20px;   
}

main #booking-info-content .content-left a button:hover {
	background-color: #4b7bec;
	color: white;
}

/*content-right*/
main #booking-info-content .content-right {
	border-left: 2px solid #CE1312;
	padding: 10px 18px;
}

main #booking-info-content .content-right h3 {
	font-family: saira;
	font-weight: bolder;
	margin-top: 10px; 
	font-size: 35px;
}

main #booking-info-content .content-right h4 {
	font-family: saira;
	font-weight: bold;
	font-size: 30px; 
	display: inline;
}

main #booking-info-content .content-right p {
	font-size: 20px; 
	display: inline;
}

/*Content - stadium information*/
main #booking-info-content .stadium-content-right {
	border-left: 2px solid #CE1312;
	padding: 10px 18px;
}

main #booking-info-content .stadium-content-right h3 {
	font-family: saira;
	font-weight: bold;
	font-size: 35px;
}

main #booking-info-content .stadium-content-right p {
	font-size: 20px; 
}

main #booking-info-content .stadium-content-right img {
	width: 1175px; 
}

main #booking-info-content .stadium-content-right ul li {
	list-style: circle; 
	font-size: 20px;
	margin: 10px 50px; 
}

main #booking-info-content .stadium-content-right .related-image {
	display: flex;
	justify-content: space-around;
	justify-items: center;
	align-items: center;
}

main #booking-info-content .stadium-content-right .related-image img {
	width: 390px;
	height: 290px;
	opacity: 0.8; 
}

main #booking-info-content .stadium-content-right .related-image img:hover {
	opacity: 1;
}

main #booking-info-content .stadium-content-right a {
	text-decoration: none; 
}

main #booking-info-content .stadium-content-right a button {
	margin: 50px auto 0px;
	display: block;
	width: 100%;
	color: white;
	background-color: #686de0;
	border: none;
	font-family: smooch-regular;
	font-size: 30px;
	padding: 10px;
}

main #booking-info-content .stadium-content-right a button:hover {
	box-shadow: 3px 3px 3px black;
	background-color: #4834d4;
}

/*Booking - form*/
main #booking-form {
	display: flex;
	position: relative; 
	margin-bottom: 80px; 
	margin-top: 30px;  
}

/*form-left*/
main #booking-form .fake-border {
	background-image: linear-gradient(to right, #B137E0, #CB32C0, #E62DA0);
	padding-top: 5px;
	margin: 0px 20px 0px 77px;
	border-radius: 10px;
}

main #booking-form .fake-border .form-left {
	border: 2px solid #E1E1E1;
	box-shadow: 0px 5px 5px #E1E1E1;
	background-color: white;
	padding-bottom: 30px; 
	border-radius: 5px; 
}

main #booking-form .fake-border .form-left h4 {
	border-bottom: 1px solid #E1E1E1;
	font-size: 30px;
	font-family: smooch-regular;
	font-weight: 700;
	text-align: center;
	padding: 30px 15px 20px; 
}

/*form-right*/
main #booking-form .form-right {
	border-left: 2px solid #D81920;
}

main #booking-form .form-right form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	justify-items: center;
	padding: 35px 30px 0px;
}

main #booking-form .form-right form input {
	margin-bottom: 45px;
	font-size: 20px;
	font-family: raleway-regular;
	padding: 10px 20px; 
	width: 750px; 
	border: 2px solid #E1E1E1;
	box-shadow: 2px 5px 5px #E1E1E1;
}

main #booking-form .form-right form h3 {
	margin-top: 0;
	font-size: 20px;
	font-family: raleway-regular;
	width: 750px; 
	border: 2px solid #E1E1E1;
	box-shadow: 2px 5px 5px #E1E1E1;
	padding: 10px 20px;
	font-weight: bold;
}

main #booking-form .form-right form .form-booking-date {
	display: flex;
	justify-content: flex-start;
	justify-items: center; 
	padding: 40px 0px; 
}

main #booking-form .form-right form .form-booking-date h5 {
	font-size: 20px;
	font-family: raleway-regular;
	margin-right: 10px; 
	font-weight: bold;
}

main #booking-form .form-right form .form-booking-date > select {
	width: 150px;
	font-size: 20px;
	font-family: raleway-regular;
	padding: 5px;
	margin-right: 50px;
	border: 2px solid #E1E1E1;
	box-shadow: 2px 5px 5px #E1E1E1; 

	-webkit-appearance: none;
}

main #booking-form .form-right form > select {
	width: 150px; 
	border: 2px solid #E1E1E1;
	box-shadow: 2px 5px 5px #E1E1E1;
	font-family: raleway-regular;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	padding: 10px 0; 
	margin: 0px 0px 40px;

	-webkit-appearance: none;
    text-indent: 1px;
}

main #booking-form .form-right form .payments {
	display: flex;
	justify-content: flex-start;
}

main #booking-form .form-right form .payments label {
	display: flex;
	align-items: center; 
}

main #booking-form .form-right form .payments label input {  
	display: inline-block;
	width: 45px;
	height: 45px;

	-webkit-appearance: none;
	margin: 0 10px 0 0; 
	border-radius: 50%;
	border: 2px solid #E1E1E1;
	box-shadow: 2px 5px 5px #E1E1E1;
}

main #booking-form .form-right form .payments label input:checked {
	background-color: #2e86de;
}

main #booking-form .form-right form .payments label span {
	font-family: raleway-regular;
	font-weight: bold;
	font-size: 22px;
	margin-right: 50px; 
}

main #booking-form .form-right form h5 {
	font-family: raleway-regular;
	font-size: 22px;
	margin-top: 35px;
	font-weight: bold; 
}

main #booking-form .form-right form button {
	background-color: #37003C;
	color: white;
	font-size: 30px;
	font-family: smooch-regular;
	width: 200px;
	border: none;
	margin: auto;  
	padding: 5px 20px;   
	position: relative;
	top: 10px; 
}

main #booking-form .form-right form button:hover {
	background-color: #341f97;
}

/*Footer*/
footer {
	color: white;
	font-family: smooch-regular; 
	/*border-top: 5px solid #B636DA;*/
	display: flex;
	justify-content: space-between; 
	align-items: center;  
	padding: 10px; 
	background-image: url("../imgs/footer-background.png");
	background-size: cover;
}

footer .footer-title h4 {
	font-size: 35px; 
}

footer .footer-copyright h5 {
	font-size: 20px;
}

footer .stakeholder img {
	width: 100px;
	height: 100px;
	margin-right: 10px; 
}
