* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: pointer;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none; 
}

/*fonts*/
@font-face {
	font-family: "smooch-regular";
	src:url("fonts/SmoochSans-Regular.ttf");
}

@font-face {
	font-family: "raleway-regular";
	src:url("fonts/Raleway-Regular.ttf");
}

@font-face {
	font-family: "saira";
	src:url("fonts/SairaStencilOne-Regular.ttf");
}

/*header*/
header {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 0 0 0 10px;
	min-width: 1100px;
}

header img {
	width: 90px;
	height: 90px;
}

header ul {
	margin: 0;
}

header ul li {
	list-style-type: none; 
	display: inline;
	font-size: 28px; 
	padding: 10px 30px;
}

header ul li a {
	color: white; 
}

header ul li:hover a {
	color: orange; 
	text-decoration: none; 
}

header .menu-wrapper {
	position: relative; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;

	width: 100%; 
	height: 60px;
	background-color: #37003C;
	border-radius: 10px;
	font-family: smooch-regular;
}

header .menu-wrapper .header-left {
	padding-left: 20px;
}

header .menu-wrapper .header-right {
	border-left: 3px solid #f5f6fa;
	padding-left: 20px; 
	padding-right: 30px;
}

header .menu-wrapper .header-right:hover {
	border-color: orange;
}

header .menu-wrapper .sub-menu-team {
	position: absolute;
	left: 235px;
	top: 60px;
	z-index: 1; 
}

header .menu-wrapper .sub-menu-team ul li {
	display: none;
	padding: 20px 5px;
	background-color: black;
	opacity: 0.7; 
}

header .menu-wrapper .sub-menu-team ul li:first-child {
	border-bottom: 1px solid white;
}

header .menu-wrapper .sub-menu-team ul li a {
	color: white;
}

header .menu-wrapper .sub-menu-team ul li:first-child a {
	padding-left: 15px;
}

header .menu-wrapper .sub-menu-team ul li:hover {
	opacity: 1; 
}

header .menu-wrapper .header-left ul li:nth-child(3):hover .sub-menu-team ul li {
	display: block;
}

/*main*/

/*banner*/
main {
	position: relative; 
	width: 100%; 
	/*height: 3400px;*/
}

main #banner {
	width: 100%;
	height: 500px;
	/*background-color: #02F9B6;*/
	background-image: url("../imgs/main-banner.png");
	background-size: cover;
	background-attachment: fixed;
	margin-top: 10px;  
	position: relative; 
}

main #banner .grid-wrapper {
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translateY(-50%);

	display: grid;
	grid-template-columns: 70px 280px 70px 280px;
	grid-template-rows: 350px 70px;
	align-content: center;
	grid-gap: 5px;
}

main #banner .grid-wrapper .grid-item {
	color: white;
	background-color: #32184C;
	box-shadow: 0 2px 4px 0 rgba(158, 158, 158, 0), 0 2px 15px 0 rgba(0, 0, 0, 0.06);
}

main #banner .grid-wrapper .grid-item a {
	color: white; 
}

main #banner .grid-wrapper .grid-item:nth-child(2):hover h5, 
main #banner .grid-wrapper .grid-item:nth-child(4):hover p, 
main #banner .grid-wrapper .grid-item:nth-child(6):hover p {
	text-decoration: underline;
}

main #banner .grid-wrapper .grid-item:nth-child(1) {
	grid-column: 1 / 3;
}

main #banner .grid-wrapper .grid-item:nth-child(2) {
	grid-column: 3 / 5;
	padding: 10px;
	font-size: 15px;
	line-height: 17.58px;
	font-weight: 400;
}

main #banner .grid-wrapper .grid-item:nth-child(2) h4 {
	color: red;
	font-size: 28px;
	line-height: 32.81px;
}

main #banner .grid-wrapper .grid-item:nth-child(2) h5 {
	font-size: 28px;
	line-height: 32.81px;
}

main #banner .grid-wrapper .grid-item:nth-child(2) ul {
	margin-left: 30px; 
}

main #banner .grid-wrapper .grid-item:nth-child(3) {
	background-image: url("../imgs/banner-02.jpg");
	background-size: cover;
}

main #banner .grid-wrapper .grid-item:nth-child(4) {
	padding: 5px;
}

main #banner .grid-wrapper .grid-item:nth-child(4) h6 {
	margin: 0;
	padding: 0; 
	color: red;
	font-size: 15px;
	line-height: 17.58px;
}

main #banner .grid-wrapper .grid-item:nth-child(5) {
	background-image: url("../imgs/banner-03.jpg");
	background-size: cover;
}

main #banner .grid-wrapper .grid-item:nth-child(6) {
	padding: 5px;
}

main #banner .grid-wrapper .grid-item:nth-child(6) h6 {
	margin: 0;
	padding: 0;
	color: red;
	font-size: 15px;
	line-height: 17.58px;
}


/*match-bar*/
main #match-bar {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 35px;
	left: 200px;
	background-color: white;
}

main #match-bar .match-week {
	border: 1px solid #ecf0f1;
	padding: 0px 20px 10px 10px;
	box-shadow: 0px 5px 3px #95a5a6; 
	margin-bottom: 25px;
	/*border-top: 5px solid linear-gradient(to right, #A23AF1, #CA32C1, #F7298B);*/
}

main #match-bar .match-week img {
	width: 191px; 
	margin: 5px 0 30px 0;  
	/*image-rendering: pixelated;*/
}

main #match-bar .match-week img:last-child {
	margin-bottom: 0;  
}

main #match-bar .match-week h4 {
	color: white;
	margin-bottom: 20px; 
	font-weight: bolder;
	background-image: linear-gradient(to right, #A23AF1, #CA32C1, #F7298B);
	padding: 10px; 
}

main #match-bar .match-week h5 {
	font-weight: bold;
	font-family: smooch-regular;
	font-size: 20px;
	background-color: #ecf0f1;
}

main #match-bar .player-list {
	border: 1px solid #ecf0f1;
	box-shadow: 0px 5px 3px #95a5a6;  
	margin-bottom: 20px; 
}

main #match-bar .player-list:hover .player-card:last-child {
	background-color: #686de0;
	color: white;
}

main #match-bar .player-list .player-card {
	display: flex;
	justify-content: space-between; 
	align-items: center; 
	padding: 10px; 
	border-bottom: 1px solid #ecf0f1;    
}

main #match-bar .player-list img {
	width: 223px;  
}

main #match-bar .player-list .player-card span:nth-child(1) {
	font-size: 10px;
}

main #match-bar .player-list .player-card span:nth-child(2) {
	font-weight: bold;
	font-size: 10px; 
}

main #match-bar .player-list .player-card:first-child {
	background-color: #ecf0f1;
}

main #match-bar .player-list .player-card:first-child > span {
	font-family: smooch-regular;
	font-weight: bold; 
	font-size: 20px;
}

main #match-bar .player-list .player-card:nth-child(3) span img {
	width: 20px;
	height: 20px;
}

main #match-bar .player-list .player-card:last-child {
	justify-content: right; 
}

main #match-bar .player-list .player-card:last-child > span {
	font-weight: bold;
	font-size: 10px;
}

main #match-bar .player-list .player-card:last-child i {
	margin-left: 5px;
	color: #FF3489; 
}


/*About us - website*/
main #about-area .content-wrapper {
	position: relative;
	left: 30%;
	top: 5px;

	display: inline-block;
	width: 70%;  

	border-left: 3px solid #F2F2F2;
	padding: 20px; 
}

main #about-area .content-wrapper .content-header h4{
	font-family: smooch-regular; 
	font-size: 50px;
	font-weight: bold; 
}

main #about-area .content-wrapper ul li {
	list-style: none; 
}

main #about-area .content-wrapper ul li a {
	color: black; 
}

main #about-area .content-wrapper #content-menu {
	background-color: #c7ecee;
	padding: 20px 0;  
}

main #about-area .content-wrapper #content-menu ul li {
	display: inline;
	margin-left: 50px;
	font-weight: bold;
	font-size: 25px;
	line-height: 35.75 px;
}

main #about-area .content-wrapper #content-menu ul li:hover a{
	text-decoration: underline;
	color: #4834d4; 
}

/*US intro*/
main #about-area .content-wrapper #US img {
	width: 350px;
	height: 300px;
	margin-right: 100px;
} 

main #about-area .content-wrapper #US .content-each-part {
	display: flex;
	align-items: center;
	justify-items: center;
}

main #about-area .content-wrapper #US .part-1 ul li {
	font-family: smooch-regular;
	font-size: 40px;
	margin: 20px; 
}

/*US role*/
main #about-area .content-wrapper .content-header #role-body {
	position: relative;  
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 500px;
	/*background: #161623;*/
	/*background: #7bed9f;*/
	background-image: url("../imgs/grass.jpg");
	background-size: cover;
}

main #about-area .content-wrapper .content-header #role-body::before {
	content: '';
	position: absolute;
	top: 0;
	Left: 0;
	width: 100%;
	height: 100%;
	/*background: linear-gradient(#fe0,#fef);*/
	background: rgba(255, 255, 255, 0.1);
	clip-path: circle(30% at right 70%);
}
   
main #about-area .content-wrapper .content-header #role-body::after {
	content: '';
	position: absolute;
	top: 0;
	Left: 0;
	width: 100%;
	height: 100%;
	/*background: linear-gradient(#2196f3, #e91e63);*/
	background: rgba(255, 255, 255, 0.1);
	clip-path: circle(20% at 10% 10%);
}

main #about-area .content-wrapper .content-header #role-body .container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	flex-wrap: wrap;
	z-index: 1; 
}
  
main #about-area .content-wrapper .content-header #role-body .container .card {
	position: relative;
	width: 250px;
	height: 400px;
	margin: 30px; 
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	/*background: rgba(255, 255, 255, 0.1);*/
	background-image: url("../imgs/card-background.jpg");
	background-size: cover;
	opacity: 0.9; 
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-Left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
} 

main #about-area .content-wrapper .content-header #role-body .container .card .content {
	padding: 20px;
	text-align: center;
	transform: translateY(100px);
	opacity: 0; 
	transition: 0.5s;
}

main #about-area .content-wrapper .content-header #role-body .container .card:hover .content {
	transform: translateY(0px);
	opacity: 1;
	background-image: none;
}

main #about-area .content-wrapper .content-header #role-body .container .card .content h2 {
	position: absolute;
	top: -80px;
	right: 30px;
	font-size: 8em;
	color: rgba(255, 255, 255, 0.05);
	pointer-events: none;
}

main #about-area .content-wrapper .content-header #role-body .container .card .content h3 {
	font-size: 1.8em;
	color: #fff;
	z-index: 1;
}

main #about-area .content-wrapper .content-header #role-body .container .card .content h4 {
	display: inline-block;
	width: 80%;
	color: black;
	background-color: white;
	border-right: 2px solid red;
	border-left: 2px solid red;
}

main #about-area .content-wrapper .content-header #role-body .container .card .content p {
	font-size: 1em;
	color: #fff;
	font-weight: 300;
}

main #about-area .content-wrapper .content-header #role-body .container .card .content a {
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	margin-top: 15px;
	background: #fff;
	color: black;
	border-radius: 20px;
	text-decoration: none;
	font-weight: 500;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

main #about-area .content-wrapper .content-header #role-body .container .card .content a:hover {
	background-color: #0ee;
	color: white;
}

/*Application introduction*/
main #about-area .content-wrapper #WEBSITE .part-2 h5 {
	font-size: 20px; 
	font-family: raleway-regular; 
	margin: 30px;
}

/*Booking list*/
/*Booking heading*/
main #booking-heading {
	display: flex;
	justify-content: space-between;
	justify-items: center;
	align-items: center;
	border-bottom: 2px solid #ced6e0;
	border-left: 10px solid #3742fa;  
	padding: 0 20px;
	font-family: raleway-regular;
}

main #booking-heading h3 {
	font-size: 40px; 
}

main #booking-heading .search-input {
	position: relative; 
	display: flex;
	justify-content: space-around;
	justify-items: center;
	align-items: center;
}

main #booking-heading .search-input .autocom-box {
	position: absolute;
	top: 40px;
	left: 0;
	width: 237px;
	font-size: 20px;
	z-index: 1; 
	border: 1px solid black; 
	background-color: #ecf0f1;
	display: none;
}

main #booking-heading .search-input .autocom-box.active {
	display: block;
}

main #booking-heading .search-input .autocom-box li {
	list-style: none;
	padding: 10px;
}

main #booking-heading .search-input .autocom-box li:hover {
	background-color: #95a5a6;
	color: white;
}

main #booking-heading .search-input input {
		border: none;
		border-bottom: 1px solid black;
		font-size: 20px;
		padding: 5px;
}

main #booking-heading .search-input i {
		font-size: 20px;
		margin-right: 80px;
		padding: 10px;
}

main #booking-heading .search-input i:hover {
	background-color: #1e90ff;
	color: white; 
	border-radius: 50%;
}

/*Content product*/
main .booking-container .content-product{
	margin: 50px;
	
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/*grid-template-rows: repeat(3, 1fr); */
	grid-gap: 50px;

	padding: 0px 30px;
}

main .booking-container .content-product .content-product-item {
	background-color: #f1f2f6;
	text-align: center;
	border-radius: 20px;
}

main .booking-container .content-product .content-product-item:hover {
	box-shadow: 5px 5px 5px black;
	background-color: #70a1ff;
	color: white;
}

main .booking-container .content-product .content-product-item img {
	width: 100%;
	height: 250px;
	border-radius: 20px 20px 0 0; 
}

main .booking-container .content-product .content-product-item h3 {
	font-family: smooch-regular;
	font-size: 30px;
	margin: 10px; 
}


/*Content paging*/
main .booking-container .content-paging ul {
	display: flex;
	justify-content: flex-end;
	justify-items: center;
	align-items: center;
	margin: 0px 80px 50px;  
}

main .booking-container .content-paging ul li {
	list-style: none; 
	border: 1px solid black;
	padding: 5px 10px;
	margin: 2px;
}

main .booking-container .content-paging ul li a {
	text-decoration: none;
	color: black;
}

main .booking-container .content-paging ul .number-page{
	display: flex;
	justify-content: space-betweenp;
	justify-items: center;
	align-items: center;
}

main .booking-container .content-paging ul i {
	border: 1px solid black;
	padding: 8px 8px;
	margin: 2px;
}

main .booking-container .content-paging ul i:hover {
	background-color: #f0ad4e;
}

main .booking-container .content-paging ul .number-page li:hover {
	background-color: #f0ad4e;
}

main .booking-container .content-paging ul i:nth-child(1) {
	visibility: hidden;
}

/*footer*/
footer {
	color: white;
	font-family: smooch-regular; 
	/*border-top: 5px solid #B636DA;*/
	display: flex;
	justify-content: space-between; 
	align-items: center;  
	padding: 10px; 
	background-image: url("../imgs/footer-background.png");
	background-size: cover;
}

footer .footer-title h4 {
	font-size: 35px; 
}

footer .footer-copyright h5 {
	font-size: 20px;
}

footer .stakeholder img {
	width: 100px;
	height: 100px;
	margin-right: 10px; 
}
